* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p{
    color: white;
}

section {
  padding: 30px;
  width: 420px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

section h1 {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.input-box input {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  outline: none;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding-right: 40px;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  transform: translateY(-50%);
  right: 20px;
  top: 50%;
  color: white;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: white;
  margin-bottom: 25px;
  font-weight: bold;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.remember-forgot a:hover,
.register-link a:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  outline: none;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: #fff;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.register-link {
  text-align: center;
  margin: 25px 0;
  font-size: 14px;
}

.register-link a {
  color: white;
  text-decoration: none;
}
